<footer>
  <div class="container text-center">
    <p class="float-left">© 2020 gazi.co, {{{__ "html.footer.copyright"}}}</p>
    <ul class="float-right list-inline">
      <li class="list-inline-item"><a href="https://github.com/burakgazi">GitHub /burakgazi</a></li>
    </ul>
  </div>
</footer>