<div class="modal fade" id="mainModal" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modal-header" class="modal-header">
            </div>
            <div id="modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>