<div class="pb-2 mt-2 mb-4 border-bottom">
  <h2><i style="color: #1B4A7D" class="fab fa-google fa-sm"></i>Google Sheets API</h2>
</div>
<h3>API References</h3>
<div role="group" class="btn-group d-flex"><a
    href="https://github.com/googleapis/google-api-nodejs-client#google-apis-nodejs-client" target="_blank"
    class="btn btn-primary w-100"><i class="far fa-check-square fa-sm"></i>Getting Started</a><a
    href="https://console.developers.google.com/apis/dashboard" target="_blank" class="btn btn-primary w-100"><i
      class="fas fa-laptop fa-sm"></i>API Console</a><a
    href="https://www.freecodecamp.org/news/cjn-google-sheets-as-json-endpoint" target="_blank"
    class="btn btn-primary w-100"><i class="fas fa-book fa-sm"></i>Exposing your Google Sheets</a></div><br>
<h3>Examples</h3>
<p></p>View data from a Google Spreadsheet at<a
  href="https://docs.google.com/spreadsheets/d/12gm6fRAp0bC8TB2vh7sSPT3V75Ug99JaA9L0PqiWS2s/" target="_blank"> URL</a>
<p></p>Get JSON endpoint from a Google Spreadsheet at<a
  href="https://spreadsheets.google.com/feeds/cells/12gm6fRAp0bC8TB2vh7sSPT3V75Ug99JaA9L0PqiWS2s/1/public/full?alt=json"
  target="_blank"> URL</a>- auth tokens required if the spreadsheet is not public<br>
<div class="pb-2 mt-2 mb-4 border-bottom">
  <h4>Values in Google Sheets</h4>
</div>{{if (values.length)}}