<div class="pb-2 mt-2 mb-4 text-center" >
    <div class="display-3">{{product.name}}</div>
    <small>{{dateText product.createdAt}} by {{product.createdBy.email}}</small>
</div>
<div class="container">
    <p type="text" class="lead">{{product.description}}</p>
</div>